<section id="hero" class="hero section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <h2>Sua Biblioteca <span>Vintage</span> Pessoal</h2>
        <p>Organize suas leituras com a estética que elas merecem.</p>
        <%= link_to "Começar Agora", new_user_registration_path, class: "btn-get-started" unless user_signed_in? %>
      </div>
    </div>
  </div>
</section>

<section id="gallery" class="gallery section">
  <div class="container-fluid">
    <div class="row gy-4 justify-content-center">
       </div>
  </div>
</section>
