@import "./theme.css";
@import "./auth_book.css"; 

:root {
  
  --bg-primary: #0C1519;   
  
  --bg-secondary: #162127;  
  
  
  --accent-brass: #CF9D7B; 
  --accent-coffee: #724B39; 
  
 
  --text-main: #CF9D7B;     
  --text-muted: #3A3534;    
  --white-paper: #F2F2F0;   
}

body {
  color: var(--text-main) !important;
  font-family: 'EB Garamond', serif; 
  margin: 0;
}

.container{
  background-color: transparent;
}

h1, h2, h3, h4, h5, .navbar-brand {
  font-family: var(--font-display); 
  color: var(--accent-brass) !important;
  font-weight: 700;
}

.navbar {
  background-color: var(--bg-secondary) !important;
  border-bottom: 2px solid var(--accent-coffee) !important;
}

.navbar-brand, .nav-link {
  color: var(--accent-brass) !important;
}

.nav-link:hover {
  color: var(--text-light) !important;
}

.card {
  background-color: var(--bg-secondary) !important;
  border: 1px solid var(--accent-coffee) !important;
  border-radius: 0 !important;
  color: var(--text-main) !important;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  border-color: var(--accent-brass) !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.btn-primary {
  background-color: var(--accent-coffee) !important;
  border-color: var(--accent-brass) !important;
  color: var(--text-light) !important;
  border-radius: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-primary:hover {
  background-color: var(--accent-brass) !important;
  color: var(--bg-primary) !important;
}

.badge-para-ler { 
  background-color: var(--text-muted) !important; 
  color: var(--text-light);
}
.badge-lendo { 
  background-color: var(--accent-coffee) !important; 
  color: var(--text-light);
}
.badge-lido { 
  background-color: var(--accent-brass) !important; 
  color: var(--bg-primary) !important;
}

input, textarea {
  background-color: rgba(12, 21, 25, 0.5) !important;
  border: 1px solid var(--accent-coffee) !important;
  color: var(--text-light) !important;
}

input:focus {
  border-color: var(--accent-brass) !important;
  box-shadow: 0 0 5px var(--accent-brass) !important;
}

.list-group.search-results-list{
  background-color: transparent;
}

#results_frame .list-group-item {
  background-color: var(--bg-secondary) !important;
  color: var(--accent-brass) !important;
}

#search-result-info{
  margin-left: 15px;
}

.text-muted {
  color: var(--white-paper) !important;
}